@import './layouts/settings';
@import './layouts/navigation';
@import './layouts/home';
@import './layouts/nouveautes';
@import './layouts/collection';
@import './layouts/planning';
@import './layouts/recherche';
@import './layouts/cardpage';
@import './layouts/sign';
@import './layouts/compte';
@import './layouts/collectionUID';
@import './layouts/cardpageUID';

