@charset "UTF-8";
@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../public/fonts/Roboto/Roboto-Regular.ttf");
}
* {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", "Courier New", Courier, monospace;
}

.popularity-jauge {
  width: 95%;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.fill-jauge {
  height: 100%;
  border: transparent;
  border-radius: 10px;
  background-color: #0ade0a;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out; /* Animation de transition */
}

a,
a:visited {
  text-decoration: none;
  outline: none;
  color: black;
}

a button {
  border-radius: 30px;
  padding: 12px 40px;
  width: 100%;
  border: none;
  background-color: #cf000a;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
a button:hover {
  cursor: pointer;
}

.connexion {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  padding-left: 18px;
  border-bottom: 0.5px solid rgb(219, 219, 219);
  background-color: white;
  z-index: 110;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 18px;
}

.schedule-day-list {
  padding: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}
.schedule-day-list .new-manga img {
  width: 220px;
  height: 330px;
}
@media screen and (max-width: 950px) {
  .schedule-day-list .new-manga img {
    width: 200px;
    height: 300px;
  }
}
@media screen and (max-width: 750px) {
  .schedule-day-list .new-manga img {
    width: 180px;
    height: 270px;
  }
}
@media screen and (max-width: 500px) {
  .schedule-day-list .new-manga img {
    width: 160px;
    height: 230px;
  }
}
@media screen and (max-width: 450px) {
  .schedule-day-list .new-manga img {
    width: 130px;
    height: 200px;
  }
}
@media screen and (max-width: 450px) {
  .schedule-day-list .new-manga img {
    width: 230px;
    height: 300px;
  }
}
.schedule-day-list .new-manga .manga-title-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.schedule-day-list .new-manga .manga-title-p h4 {
  font-size: 17px;
  line-height: 20px;
  font-weight: 200;
}
@media screen and (max-width: 750px) {
  .schedule-day-list .new-manga .manga-title-p h4 {
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
  .schedule-day-list .new-manga .manga-title-p h4 {
    font-size: 15px;
  }
}
@media screen and (max-width: 450px) {
  .schedule-day-list .new-manga .manga-title-p h4 {
    font-size: 16px;
  }
}
@media screen and (max-width: 330px) {
  .schedule-day-list .new-manga .manga-title-p h4 {
    font-size: 17px;
  }
}

#connexionid {
  position: static;
}

#connexionid2 {
  position: static;
}

#connexionid3 {
  width: calc(100% - 220px);
}
@media screen and (max-width: 965px) {
  #connexionid3 {
    width: calc(100% - 60px);
  }
}
@media screen and (max-width: 500px) {
  #connexionid3 {
    width: 100%;
  }
}

.navigation-menu {
  position: fixed;
  top: 0;
  width: 220px;
  height: 100vh;
  border-right: 0.5px solid rgb(228, 225, 225);
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 965px) {
  .navigation-menu {
    width: 60px;
  }
}
@media screen and (max-width: 500px) {
  .navigation-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100vw;
    z-index: 1000;
    background-color: white;
    padding-right: 30px;
  }
}
.navigation-menu h4 {
  font-size: 18px;
  margin-left: 15px;
  font-family: "Roboto", "Courier New", Courier, monospace;
}
@media screen and (max-width: 965px) {
  .navigation-menu h4 {
    display: none;
  }
}
.navigation-menu h2 {
  color: #cf000a;
  font-size: 22px;
}
@media screen and (max-width: 965px) {
  .navigation-menu h2 {
    display: none;
  }
}
.navigation-menu #lilogo {
  padding: 5px;
  background-color: white;
}
@media screen and (max-width: 500px) {
  .navigation-menu #lilogo {
    display: none;
  }
}
.navigation-menu #lilogo h2 {
  margin-left: 5px;
}
@media screen and (max-width: 500px) {
  .navigation-menu .navigation-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
.navigation-menu .navigation-up .nav-active li {
  background-color: #ededed;
  border-radius: 30px;
}
.navigation-menu .navigation-up .nav-active h4 {
  color: #cf000a;
  font-size: 18px;
}
@media screen and (max-width: 500px) {
  .navigation-menu .navigation-up a {
    width: 25%;
  }
}
.navigation-menu .navigation-up a li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
  padding: 10px 10px;
  border-radius: 30px;
}
@media screen and (max-width: 965px) {
  .navigation-menu .navigation-up a li {
    padding: 10px 6px;
  }
}
@media screen and (max-width: 500px) {
  .navigation-menu .navigation-up a li {
    padding: 0;
    margin: 5px 0px;
    width: 25%;
  }
}
.navigation-menu .navigation-up a li:hover {
  background-color: #ededed;
}
.navigation-menu .navigation-up a li .logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.navigation-menu .navigation-up a li img {
  width: 26px;
  height: 26px;
}
@media screen and (max-width: 500px) {
  .navigation-menu .navigation-up a li img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 500px) {
  .navigation-menu .login {
    width: 25%;
  }
}
.navigation-menu .login a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10px;
  border-radius: 30px;
}
@media screen and (max-width: 500px) {
  .navigation-menu .login a {
    padding: 0 0;
    margin: 3px 0;
    width: 25%;
  }
}
.navigation-menu .login a img {
  width: 26px;
  height: 26px;
}
.navigation-menu .login a:hover {
  background-color: #ededed;
}
.navigation-menu .login .nav-active {
  background-color: #ededed;
  border-radius: 30px;
}
.navigation-menu .login .nav-active h4 {
  color: #cf000a;
}

.container {
  margin-left: 220px;
}
@media screen and (max-width: 965px) {
  .container {
    margin-left: 60px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    margin-left: 0;
  }
}

.home-container .header {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../../public/img/japanese.png");
  background-size: 400px 100%;
  background-repeat: repeat-x;
}
.home-container .header .logo-title {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 50px;
  padding: 5px 20px 5px 10px;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 16px 1px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 16px 1px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: auto;
  -ms-flex-item-align: center;
      align-self: center;
}
.home-container .header .accroche {
  margin-top: 50px;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 20px 15px 25px 15px;
  width: 600px;
  border-radius: 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 16px 1px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 16px 1px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
@media screen and (max-width: 790px) {
  .home-container .header .accroche {
    width: 90%;
  }
}
.home-container .header .accroche h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
@media screen and (max-width: 790px) {
  .home-container .header .accroche h2 {
    font-size: 28px;
  }
}
.home-container .header .accroche ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  text-align: center;
}
.home-container .header .accroche ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-container .header .accroche ul li p {
  font-size: 24px;
  font-weight: 200;
  color: rgb(138, 136, 136);
}
@media screen and (max-width: 790px) {
  .home-container .header .accroche ul li p {
    font-size: 18px;
  }
}
@media screen and (max-width: 790px) {
  .home-container .header .accroche ul li p {
    font-size: 16px;
  }
}
.home-container .header .accroche .sinscrire {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-container .header .apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin: 30px 0;
}
.home-container .header .apps li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  border-radius: 5px;
  padding: 7px;
  color: white;
  gap: 5px;
}
@media screen and (max-width: 550px) {
  .home-container .header .apps li {
    padding: 5px;
  }
}
.home-container .header .apps li:hover {
  cursor: pointer;
}
.home-container .header .apps li .app-text p:nth-child(1) {
  font-size: 11px;
}
.home-container .header .apps li .app-text p:nth-child(2) {
  font-size: 16px;
}

.logo-title img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.logo-title h1 {
  color: #cf000a;
  font-weight: 300;
  font-size: 42px;
}
@media screen and (max-width: 680px) {
  .logo-title h1 {
    font-size: 32px;
  }
}

.nouveautes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nouveautes .nouveautes-mangas, .nouveautes .nouveautes-animes {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  margin: 10px 25px;
}
.nouveautes .nouveautes-mangas h2, .nouveautes .nouveautes-animes h2 {
  position: absolute;
  top: 0px;
  left: 0;
  padding-left: 18px;
}
.nouveautes .nouveautes-mangas .new-manga, .nouveautes .nouveautes-animes .new-manga {
  cursor: pointer;
}
.nouveautes .nouveautes-mangas .new-manga img, .nouveautes .nouveautes-animes .new-manga img {
  width: 220px;
  height: 330px;
}
@media screen and (max-width: 1215px) {
  .nouveautes .nouveautes-mangas .new-manga img, .nouveautes .nouveautes-animes .new-manga img {
    width: 180px;
    height: 300px;
  }
}
@media screen and (max-width: 860px) {
  .nouveautes .nouveautes-mangas .new-manga img, .nouveautes .nouveautes-animes .new-manga img {
    width: 160px;
    height: 250px;
  }
}
@media screen and (max-width: 400px) {
  .nouveautes .nouveautes-mangas .new-manga img, .nouveautes .nouveautes-animes .new-manga img {
    width: 250px;
    height: 320px;
  }
}
.nouveautes .nouveautes-mangas .new-manga .manga-title-p, .nouveautes .nouveautes-animes .new-manga .manga-title-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nouveautes .nouveautes-mangas .new-manga .manga-title-p h4, .nouveautes .nouveautes-animes .new-manga .manga-title-p h4 {
  font-size: 17px;
  line-height: 20px;
  font-weight: 200;
}
@media screen and (max-width: 860px) {
  .nouveautes .nouveautes-mangas .new-manga .manga-title-p h4, .nouveautes .nouveautes-animes .new-manga .manga-title-p h4 {
    font-size: 15px;
  }
}
@media screen and (max-width: 550px) {
  .nouveautes .nouveautes-mangas .new-manga .manga-title-p h4, .nouveautes .nouveautes-animes .new-manga .manga-title-p h4 {
    font-size: 14px;
  }
}
@media screen and (max-width: 550px) {
  .nouveautes .nouveautes-mangas .new-manga .manga-title-p h4, .nouveautes .nouveautes-animes .new-manga .manga-title-p h4 {
    font-size: 18px;
  }
}

.choose-to-sign {
  display: block;
  position: relative;
}
.choose-to-sign .cts-container {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choose-to-sign .cts-container .choose-to-sign-container {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  border: 0.5px solid rgb(219, 219, 219);
  width: 300px;
  height: 320px;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 4.65px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 4.65px;
}
.choose-to-sign .mentions-legales {
  position: absolute;
  bottom: -350px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.schedules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}
.schedules .schedule-day-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2px;
  width: 100%;
}
.schedules .schedule-day-container .day {
  padding-left: 18px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 200;
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebebeb;
}
.schedules .schedule-day-container .schedule-day-list {
  padding: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.schedules .schedule-day-container .schedule-day-list .new-manga {
  cursor: pointer;
}
.schedules .schedule-day-container .schedule-day-list li {
  padding: 9px;
}
.schedules .schedule-day-container .schedule-day-list li img {
  width: 190px;
  height: 288px;
  border-radius: 5px;
}
@media screen and (max-width: 950px) {
  .schedules .schedule-day-container .schedule-day-list li img {
    width: 175px;
    height: 260px;
  }
}
@media screen and (max-width: 650px) {
  .schedules .schedule-day-container .schedule-day-list li img {
    width: 145px;
    height: 220px;
  }
}
@media screen and (max-width: 550px) {
  .schedules .schedule-day-container .schedule-day-list li img {
    width: 125px;
    height: 220px;
  }
}
.schedules .schedule-day-container .schedule-day-list li:hover {
  cursor: pointer;
}

.search form .ul-btn-options {
  height: 30px;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ebebeb;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max-width: 480px) {
  .search form .ul-btn-options {
    width: 45%;
  }
}
.search form .ul-btn-options .btn-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.search form .ul-btn-options .btn-options li {
  width: 50%;
  height: 100%;
  border-radius: 330px;
}
.search form .ul-btn-options .btn-options li button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: #ebebeb;
  color: #cf000a;
}
@media screen and (max-width: 480px) {
  .search form .ul-btn-options .btn-options li button {
    font-size: 11px;
  }
}
.search form .ul-btn-options .btn-options li .activeBtn {
  background: #cf000a;
  color: white;
}
.search form .ul-btn-options .btn-options li .activeBtn:hover {
  cursor: pointer;
}
.search form .ul-btn-options .btn-options li .not-activeBtn {
  color: #cf000a;
}
.search form .ul-btn-options .btn-options li .not-activeBtn:hover {
  cursor: pointer;
  background-color: #d7d6d6;
  border-radius: 30px;
}
.search form .search-list .animelist {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.search form .search-list .animelist li {
  height: 40px;
  width: 100%;
  padding-left: 18px;
}
.search form .search-list .animelist li:hover {
  background-color: #d7d6d6;
}
.search form .search-list .animelist li button {
  height: 100%;
  width: 100%;
  background-color: white;
  border: none;
  border-bottom: 0.5px solid rgb(219, 219, 219);
  text-align: left;
  font-size: 17px;
  color: rgb(28, 28, 30);
}
.search form .search-list .animelist li button:hover {
  cursor: pointer;
  background-color: #d7d6d6;
}
.search form .search-list .animelist li:last-child {
  border-bottom: none;
}

.searchinput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 70%;
}
@media screen and (max-width: 480px) {
  .searchinput {
    width: 55%;
  }
}
.searchinput i {
  position: absolute;
  color: rgb(160, 158, 158);
  background-color: rgb(224, 224, 224);
  font-size: 16px;
  left: 3px;
  padding-left: 5px;
}
.searchinput input {
  padding-left: 38px;
  border-radius: 30px;
  height: 30px;
  width: 100%;
  border: none;
  background-color: rgb(224, 224, 224);
}

.slc .connexion #retour {
  position: relative;
  width: 150px;
  height: 30px;
  border: none;
  background-color: #cf000a;
  color: white;
  border-radius: 30px;
  font-size: 14px;
}
.slc .connexion #retour i {
  position: absolute;
  left: 10px;
  bottom: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.slc .connexion #retour:hover {
  cursor: pointer;
}
.slc .search-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  padding-left: 18px;
  padding-bottom: 20px;
  margin-top: 60px;
}
.slc .search-list .new-manga {
  cursor: pointer;
}
.slc .search-list .new-manga img {
  width: 220px;
  height: 330px;
}

.new-manga .manga-title-p {
  margin-bottom: 5px;
}

.searchinputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  gap: 10px;
}
@media screen and (max-width: 680px) {
  .searchinputs {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
}
.searchinputs .searchinput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 45%;
}
@media screen and (max-width: 680px) {
  .searchinputs .searchinput {
    width: 45%;
  }
}
.searchinputs .searchinput i {
  position: absolute;
  color: rgb(160, 158, 158);
  background-color: rgb(224, 224, 224);
  font-size: 16px;
  left: 3px;
  padding-left: 5px;
}
.searchinputs .searchinput input {
  padding-left: 25px;
  border-radius: 30px;
  height: 30px;
  width: 100%;
  border: none;
  background-color: rgb(224, 224, 224);
}
@media screen and (max-width: 635px) {
  .searchinputs .searchinput input {
    font-size: 12px;
  }
}

.cardpage {
  height: calc(100vh - 50px);
}
.cardpage .connexion .retour {
  color: #cf000a;
  text-align: center;
  border-radius: 50%;
}
.cardpage .connexion .retour i {
  width: 40px;
  line-height: 40px;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 22px;
}
.cardpage .connexion .retour:hover {
  cursor: pointer;
  background-color: #ebebeb;
}
.cardpage .cardpageall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
@media screen and (max-width: 750px) {
  .cardpage .cardpageall {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.cardpage .cardpageall .left-card-page {
  width: 35%;
  height: 100%;
}
@media screen and (max-width: 750px) {
  .cardpage .cardpageall .left-card-page {
    height: 300px;
    width: 100%;
  }
}
.cardpage .cardpageall .left-card-page .img-container-cp {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cardpage .cardpageall .left-card-page .img-container-cp .img-container {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 360px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1300px) {
  .cardpage .cardpageall .left-card-page .img-container-cp .img-container {
    width: 300px;
    height: 450px;
  }
}
@media screen and (max-width: 1100px) {
  .cardpage .cardpageall .left-card-page .img-container-cp .img-container {
    width: 220px;
    height: 400px;
  }
}
@media screen and (max-width: 750px) {
  .cardpage .cardpageall .left-card-page .img-container-cp .img-container {
    width: 300px;
    height: 300px;
  }
}
.cardpage .cardpageall .left-card-page .img-container-cp .img-container img {
  position: absolute;
  top: 60px;
  min-width: 0px;
  min-height: 0px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1230px) {
  .cardpage .cardpageall .left-card-page .img-container-cp .img-container img {
    height: 85%;
  }
}
@media screen and (max-width: 1230px) {
  .cardpage .cardpageall .left-card-page .img-container-cp .img-container img {
    height: 85%;
  }
}
@media screen and (max-width: 1090px) {
  .cardpage .cardpageall .left-card-page .img-container-cp .img-container img {
    height: 75%;
  }
}
@media screen and (max-width: 1090px) {
  .cardpage .cardpageall .left-card-page .img-container-cp .img-container img {
    height: 65%;
  }
}
@media screen and (max-width: 965px) {
  .cardpage .cardpageall .left-card-page .img-container-cp .img-container img {
    height: 70%;
  }
}
@media screen and (max-width: 965px) {
  .cardpage .cardpageall .left-card-page .img-container-cp .img-container img {
    height: 60%;
  }
}
@media screen and (max-width: 750px) {
  .cardpage .cardpageall .left-card-page .img-container-cp .img-container img {
    width: 250px;
    height: 260px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.cardpage .cardpageall .right-card-page {
  width: 65%;
  padding: 15px 25px 40px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 750px) {
  .cardpage .cardpageall .right-card-page {
    width: 100%;
  }
}
.cardpage .cardpageall .right-card-page p {
  font-size: 17px;
  font-weight: 400;
  width: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 19px;
}
@media screen and (max-width: 1060px) {
  .cardpage .cardpageall .right-card-page p {
    font-size: 17px;
  }
}
.cardpage .cardpageall .right-card-page .title-card-page {
  width: 100%;
}
.cardpage .cardpageall .right-card-page .title-card-page h2 {
  font-weight: 100;
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 40px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.cardpage .cardpageall .right-card-page .synopsis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.cardpage .cardpageall .right-card-page .synopsis p {
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 22px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media screen and (max-width: 750px) {
  .cardpage .cardpageall .right-card-page .synopsis p {
    font-size: 15px;
    line-height: 18px;
  }
}

.btn-optn-card-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (max-width: 550px) {
  .btn-optn-card-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  .btn-optn-card-page .mal-stars {
    position: static;
  }
}
.btn-optn-card-page .mal-stars::after {
  content: "Myanimelist score";
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}
.btn-optn-card-page button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  background-color: transparent;
  width: 100%;
  border-radius: 30px;
  padding: 0 10px;
  position: relative;
  font-size: 16px;
}
.btn-optn-card-page button:hover {
  cursor: pointer;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.add-remove {
  width: 30%;
}
.add-remove i {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 10px;
  font-size: 22px;
}
.add-remove p {
  text-align: center;
  font-size: 10px;
}
.add-remove .btn-add {
  border: 1px solid red;
  color: #cf000a;
  height: 50px;
  margin-bottom: 5px;
}
.add-remove .btn-add p {
  text-align: center;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (max-width: 1300px) {
  .add-remove .btn-add p {
    margin-top: 0;
    font-size: 15px;
  }
}
@media screen and (max-width: 1060px) {
  .add-remove .btn-add p {
    margin-top: 0;
    font-size: 13px;
  }
}
@media screen and (max-width: 1300px) {
  .add-remove .btn-add i {
    font-size: 15px;
  }
}
@media screen and (max-width: 1060px) {
  .add-remove .btn-add i {
    font-size: 13px;
  }
}
.add-remove .btn-remove {
  background-color: #cf000a;
  color: white;
  height: 50px;
}
.add-remove .btn-remove #p-btn-add {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.add-remove .fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 999;
  -webkit-animation: fadeIn 0.5s ease forwards;
          animation: fadeIn 0.5s ease forwards;
}
.add-remove .fade .fade-container {
  position: absolute;
  top: calc(50% - 50px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  border-radius: 20px;
}
.add-remove .fade .fade-container .fade-header {
  padding: 15px 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.add-remove .fade .fade-container .fade-header form input, .add-remove .fade .fade-container .fade-header form textarea {
  text-align: justify;
  border-radius: 10px;
  padding: 5px;
  outline: none;
  border: 1px solid rgb(211, 211, 211);
}
.add-remove .fade .fade-container .fade-header form textarea {
  resize: none;
  overflow: hidden;
  height: 200px;
  width: 300px;
  outline: none;
}
.add-remove .fade .fade-container .fade-header h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
.add-remove .fade .fade-container .fade-header p {
  margin-bottom: 20px;
  text-align: center;
  width: 250px;
}
.add-remove .fade .fade-container .fade-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.add-remove .fade .fade-container .fade-content button {
  width: 100%;
  line-height: 40px;
  cursor: pointer;
  background-color: white;
}
.add-remove .fade .fade-container .fade-content button:nth-child(1) {
  border-bottom: none;
  border-left: none;
  border-right: 1px solid #ededed;
  border-top: 1px solid #ededed;
  border-bottom-left-radius: 20px;
  font-size: 18px;
}
.add-remove .fade .fade-container .fade-content button:nth-child(1):hover {
  background-color: #ebebeb;
}
.add-remove .fade .fade-container .fade-content button:nth-child(2) {
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: 1px solid #ededed;
  border-bottom-right-radius: 20px;
  color: #cf000a;
  font-size: 18px;
}
.add-remove .fade .fade-container .fade-content button:nth-child(2):hover {
  background-color: rgb(250, 82, 82);
  color: white;
}

.sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.sign .signin-signup {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sign .signin-signup ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  background-color: #ebebeb;
  border-radius: 30px;
}
.sign .signin-signup ul .hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  border: none;
  background-color: #ebebeb;
  color: #cf000a;
}
.sign .signin-signup ul .hover li {
  line-height: 30px;
}
.sign .signin-signup ul .nav-active {
  background: #cf000a;
  border-radius: 30px;
  color: white;
}
.sign .signin-signup ul .nav-active:hover {
  cursor: pointer;
}
.sign .signin-signup ul .not-activeBtn {
  color: #cf000a;
  border-radius: 30px;
}
.sign .signin-signup ul .not-activeBtn:hover {
  cursor: pointer;
  background-color: #d7d6d6;
  border-radius: 30px;
}
.sign form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.sign form h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.sign form input {
  position: relative;
  border: none;
  line-height: 40px;
  background-color: #ebebeb;
  border-radius: 30px;
  padding-left: 15px;
  width: 20%;
}
.sign form label {
  position: relative;
}
.sign form label::after {
  content: "*";
  position: absolute;
  top: 0px;
  right: -170px;
  color: red;
  font-size: 18px;
}
.sign form .nav-active {
  background: #cf000a;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  line-height: 40px;
  border: none;
  color: white;
}
.sign form .nav-active:hover {
  cursor: pointer;
}
.sign p {
  display: block;
  text-align: center;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.sign .sign-google-fb-apple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 15px;
}
.sign .sign-google-fb-apple li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.sign .sign-google-fb-apple li button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  border: none;
  line-height: 40px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}
.sign .sign-google-fb-apple li button i {
  position: absolute;
  left: 10px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  font-size: 18px;
}
.sign .sign-google-fb-apple li .blue {
  background-color: #3b5998;
}
.sign .sign-google-fb-apple li .blueclear {
  background-color: #4285f4;
}
.sign .sign-google-fb-apple li .black {
  background-color: rgb(0, 0, 0);
}
.sign .mdp-oublie {
  text-align: center;
  cursor: pointer;
}

.success {
  margin-left: calc(50% - 60px);
  color: rgb(6, 126, 6);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  padding: 10px;
  border: 1px solid green;
  border-radius: 10px;
}

.fail {
  color: #cf000a;
}

.compte {
  padding-top: 50px;
  height: 100vh;
}
.compte a, .compte h3, .compte p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.compte h3 {
  font-size: 21px;
  font-weight: 400;
}
.compte .logout {
  padding-left: 18px;
  margin: 150px auto;
  line-height: 50px;
  width: 97%;
  color: #cf000a;
  text-align: center;
  border-top: 1px solid rgb(211, 211, 211);
  border-bottom: 1px solid rgb(211, 211, 211);
  font-size: 22px;
}
@media screen and (max-width: 500px) {
  .compte .logout {
    margin: 120px auto;
  }
}
.compte .logout:hover {
  background-color: rgb(250, 82, 82);
  width: 100%;
  cursor: pointer;
}
.compte .islogout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 999;
  -webkit-animation: fadeIn 0.5s ease forwards;
          animation: fadeIn 0.5s ease forwards;
}
.compte .islogout .islogout-container {
  position: absolute;
  top: calc(50% - 50px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  border-radius: 20px;
}
.compte .islogout .islogout-container .islogout-header {
  padding: 15px 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.compte .islogout .islogout-container .islogout-header h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
.compte .islogout .islogout-container .islogout-header p {
  margin-bottom: 20px;
  text-align: center;
}
.compte .islogout .islogout-container .islogout-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.compte .islogout .islogout-container .islogout-content button {
  width: 100%;
  line-height: 40px;
  cursor: pointer;
  background-color: white;
}
.compte .islogout .islogout-container .islogout-content button:nth-child(1) {
  border-bottom: none;
  border-left: none;
  border-right: 1px solid #ededed;
  border-top: 1px solid #ededed;
  border-bottom-left-radius: 20px;
  font-size: 18px;
}
.compte .islogout .islogout-container .islogout-content button:nth-child(1):hover {
  background-color: #ebebeb;
}
.compte .islogout .islogout-container .islogout-content button:nth-child(2) {
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: 1px solid #ededed;
  border-bottom-right-radius: 20px;
  color: #cf000a;
  font-size: 18px;
}
.compte .islogout .islogout-container .islogout-content button:nth-child(2):hover {
  background-color: rgb(250, 82, 82);
  color: white;
}

.compte-info {
  padding-top: 18px;
  padding-left: 18px;
}

.themes {
  padding-top: 18px;
  padding-left: 18px;
}

.like-yondes-app {
  padding-top: 18px;
  padding-left: 18px;
}

.copy {
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
}
.copy p {
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 500px) {
  .copy p {
    line-height: 20px;
    font-size: 17px;
    text-align: center;
  }
}
.copy i {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.copy i:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.row2 {
  height: 70px;
  width: 97%;
  border-bottom: 1px solid rgb(211, 211, 211);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
.row2:hover {
  cursor: pointer;
}
.row2 p {
  font-size: 14px;
  font-weight: 200;
  font-weight: 400;
}
.row2 i {
  top: 50%;
  right: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  padding: 0;
  left: auto;
}

h5 {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.row {
  height: 50px;
  width: 97%;
  border-bottom: 1px solid rgb(211, 211, 211);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.row:hover {
  background-color: #ebebeb;
  width: 100%;
}
.row p {
  font-size: 16px;
  font-weight: 400;
}

.acc-created {
  margin-top: 10px;
  font-size: 13px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.collection-vide {
  position: relative;
  height: calc(100vh - 200px);
}
.collection-vide .collection-vide-container {
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 400px;
  text-align: center;
  margin-bottom: 100px;
}
.collection-vide .collection-vide-container #pp {
  margin-bottom: 10px;
}
.collection-vide .collection-vide-container h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}
.collection-vide .collection-vide-container p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.collection-vide .collection-vide-container .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profilUser {
  height: 250px;
  width: 100%;
  padding-left: 18px;
  border-bottom: 0.5px solid rgb(219, 219, 219);
  background-color: white;
  z-index: 110;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
}
@media screen and (max-width: 680px) {
  .profilUser {
    height: 280px;
    padding-left: 5px;
  }
}
@media screen and (max-width: 500px) {
  .profilUser {
    height: 360px;
  }
}
.profilUser .profil-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 500px) {
  .profilUser .profil-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.profilUser .profil-container .imgpseudo {
  margin-top: 10px;
  position: relative;
}
@media screen and (max-width: 500px) {
  .profilUser .profil-container .imgpseudo {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.profilUser .profil-container .imgpseudo img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.profilUser .profil-container .imgpseudo h4 {
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  text-align: center;
  margin-bottom: 10px;
}
.profilUser .profil-container .rightpart {
  width: 100%;
  height: 120px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  gap: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 500px) {
  .profilUser .profil-container .rightpart {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    height: auto;
  }
}
.profilUser .profil-container .rightpart h5 {
  font-size: 15px;
}
@media screen and (max-width: 500px) {
  .profilUser .profil-container .rightpart h5 {
    font-size: 13px;
  }
}
.profilUser .profil-container .rightpart .gradeold {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
}
.profilUser .profil-container .rightpart .gradeold i {
  position: absolute;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 12px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.profilUser .profil-container .rightpart .gradeold i:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
.profilUser .profil-container .rightpart .niveau {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  max-height: 20px;
}
.profilUser .profil-container .rightpart .niveau .niveau-jauge {
  width: 200px; /* Largeur de la jauge */
  height: 20px; /* Hauteur de la jauge */
  background-color: #ebebeb; /* Couleur de fond de la jauge */
  border-radius: 30px;
  overflow: hidden; /* Pour masquer la partie remplie qui dépasse */
  position: relative; /* Pour que la partie remplie soit positionnée correctement */
}
@media screen and (max-width: 500px) {
  .profilUser .profil-container .rightpart .niveau .niveau-jauge {
    height: 18px;
  }
}
@media screen and (max-width: 350px) {
  .profilUser .profil-container .rightpart .niveau .niveau-jauge {
    width: 130px;
  }
}
.profilUser .profil-container .rightpart .niveau .niveau-jauge-fill {
  height: 100%;
  background-color: #00ff00; /* Couleur de la partie remplie */
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease; /* Animation de la largeur */
}
.profilUser .profil-container .rightpart .membredepuis {
  padding-left: 10px;
}
.profilUser .utility-bar {
  margin-top: 66px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (max-width: 680px) {
  .profilUser .utility-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 500px) {
  .profilUser .utility-bar {
    margin-top: 20px;
  }
}
.profilUser .utility-bar .search-friends {
  width: 50%;
  height: 30px;
}
@media screen and (max-width: 730px) {
  .profilUser .utility-bar .search-friends {
    width: 160px;
  }
}
@media screen and (max-width: 680px) {
  .profilUser .utility-bar .search-friends {
    width: 45%;
  }
}
.profilUser .utility-bar .search-friends .search-friends-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.profilUser .utility-bar .search-friends .search-friends-container input {
  position: absolute;
  width: 100%;
  height: 80%;
  padding-left: 35px;
  border-radius: 30px;
  border: none;
  background-color: #ededed;
  left: 0;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
@media screen and (max-width: 635px) {
  .profilUser .utility-bar .search-friends .search-friends-container input {
    font-size: 12px;
  }
}
.profilUser .utility-bar .search-friends .search-friends-container i {
  position: absolute;
  left: 10px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  z-index: 10;
  font-size: 16px;
}
.profilUser .utility-bar .search-friends .search-friends-container .search-friends-list {
  z-index: 1000;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  border-radius: 3px;
  left: 10px;
  top: 40px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px 0px rgb(176, 176, 176);
          box-shadow: 0px 2px 5px 0px rgb(176, 176, 176);
}
.profilUser .utility-bar .search-friends .search-friends-container .search-friends-list .friend {
  width: 100%;
  height: 70px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 2px solid #cf000a;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}
.profilUser .utility-bar .search-friends .search-friends-container .search-friends-list .friend:hover {
  background-color: #ffebe9;
}
.profilUser .utility-bar .search-friends .search-friends-container .search-friends-list .friend img {
  height: 90%;
}
.profilUser .utility-bar .search-friends .search-friends-container .search-friends-list .friend #frienduserpseudo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 5px;
}
.profilUser .utility-bar .search-friends .search-friends-container .search-friends-list .friend .gradeold {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  left: calc(50% + 25px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.profilUser .utility-bar .search-friends .search-friends-container .search-friends-list .friend .level {
  position: absolute;
  right: 10px;
  top: 3px;
}
.profilUser .utility-bar .search-friends .search-friends-container .search-friends-list .friend .level p {
  font-size: 14px;
  line-height: 22px;
}
.profilUser #compareBtn {
  margin-left: 30px;
  padding: 5px 20px;
  border-radius: 30px;
  border: none;
  background-color: #cf000a;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
@media screen and (max-width: 680px) {
  .profilUser #compareBtn {
    margin-left: 0px;
    padding: 5px 10px;
    font-size: 11px;
    margin-top: 5px;
  }
}
.profilUser #compareBtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#scheds {
  margin-top: 0;
}

.add-info-card-page {
  height: 100%;
}

.custom-stars {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom-stars .custom-tooltip {
  width: 52px;
  text-align: center;
}
.custom-stars #scoretitle {
  width: 150px;
  text-align: center;
}

.bookmark {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}
.bookmark h4, .bookmark i {
  font-size: 18px;
}
.bookmark #bookmarkint {
  border: 1px solid black;
  border-radius: 30px;
  width: 75px;
}

.bookmark.equal {
  background-color: green;
}

.schedules .schedule-day-container > .common-list, .schedules .schedule-day-container > .difference-friend-list, .schedules .schedule-day-container > .difference-user-list {
  width: 100%;
  min-height: 100px;
}
.schedules .schedule-day-container > .common-list .listtitle, .schedules .schedule-day-container > .difference-friend-list .listtitle, .schedules .schedule-day-container > .difference-user-list .listtitle {
  min-width: 10%;
  max-width: 10%;
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.schedules .schedule-day-container > .common-list .listmangas, .schedules .schedule-day-container > .difference-friend-list .listmangas, .schedules .schedule-day-container > .difference-user-list .listmangas {
  min-width: 80%;
  max-width: 80%;
  padding: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  z-index: 1000;
}
.schedules .schedule-day-container > .common-list .listmangas .new-manga img, .schedules .schedule-day-container > .difference-friend-list .listmangas .new-manga img, .schedules .schedule-day-container > .difference-user-list .listmangas .new-manga img {
  width: 110px;
  height: 165px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.schedules .schedule-day-container > .common-list .listmangas .new-manga img:hover, .schedules .schedule-day-container > .difference-friend-list .listmangas .new-manga img:hover, .schedules .schedule-day-container > .difference-user-list .listmangas .new-manga img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.schedules .schedule-day-container > .common-list .listmangas .new-manga span, .schedules .schedule-day-container > .difference-friend-list .listmangas .new-manga span, .schedules .schedule-day-container > .difference-user-list .listmangas .new-manga span {
  font-size: 13px;
}
.schedules .common-list {
  background-color: #E6FFEC;
}
.schedules .difference-friend-list {
  background-color: #FFEBE9;
}
.schedules .difference-user-list {
  background-color: rgb(207, 119, 119);
}

.explication-titres {
  position: absolute;
  bottom: -60px;
  right: calc(-50% - 35px);
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  z-index: 1200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-bottom: 3px solid rgb(250, 82, 82);
  border-right: 3px solid rgb(250, 82, 82);
  border-left: 3px solid rgb(250, 82, 82);
  border-top: none;
  border-radius: 20px;
  width: 300px;
}
@media screen and (max-width: 1055px) {
  .explication-titres {
    right: 0;
    bottom: -100px;
  }
}
.explication-titres h4 {
  position: relative;
  font-size: 15px;
  padding: 2px 0;
  width: 101%;
  background-color: rgb(250, 82, 82);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}
.explication-titres h4 i {
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.explication-titres p {
  font-size: 12px;
  text-align: center;
  margin-top: 3px;
  padding: 0 5px 5px 5px;
}
.explication-titres table thead {
  font-size: 14px;
}
.explication-titres table tbody {
  font-size: 13px;
}
.explication-titres table tbody tr td:nth-child(2) {
  padding-left: 40px;
}/*# sourceMappingURL=style.css.map */