.add-info-card-page {
    height: 100%;
}

.custom-stars {
    height: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    .custom-tooltip {
        width: 52px;
        text-align: center;
    }
    #scoretitle {
        width: 150px;
        text-align: center;
        color: $green;
    }
}


.bookmark {
    width: 100%;
    display: flex;
    background-color: $white;
    align-items: center;
    margin-bottom: 25px;
    h4 {
        font-size: 18px;
    }
    i {
        font-size: 18px;
        transition: 0.3s ease;
        color: $green;
        &:hover {
            transform: scale(1.25);
            cursor: pointer;
        }
    }
    #formBookMark {
        display: flex;
        flex-direction: row;
        margin: 0 10px 0 10px;
        #bookmarkint {
            border: none;
            outline: none;
            border-radius: 10px;
            width: 150px;
            overflow: hidden;
        }
    }
}

.bookmark.equal {
    background-color: green;
}