.collection-vide {
    position: relative;
    height: calc(100vh - 200px);
  .collection-vide-container {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    width: 400px;
    text-align: center;
    margin-bottom: 100px;
    #pp {
      margin-bottom: 10px;
    }
    h3 {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-weight: 400;
      margin-bottom: 10px;
    }
    p {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
       
    }
    .center {
      display: flex;
      justify-content: center;
      
    }
  }
}

.profilUser {
  height: 250px;
  width: 100%;
  padding-left: 18px;
  border-bottom: 0.5px solid rgb(219, 219, 219);
  background-color: $white;
  z-index: 110;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  @media screen and (max-width: 680px) {
    height: 280px;
    padding-left: 5px;
  }
  @media screen and (max-width:500px) {
    height: 360px;
  }
  .profil-container {
    width: 100%;
    display: flex;
    @media screen and (max-width:500px) {
      flex-direction: column;
    }
    .imgpseudo {
        margin-top: 10px;
        position: relative;
        @media screen and (max-width:500px) {
          align-self: center;
        }
      img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
      }
      h4 {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%,50%);
        text-align: center;
        margin-bottom: 10px;
      }
    }
    .rightpart {
        width: 100%;
        height: 120px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;
        gap: 10px;
        border-radius: 10px;
        @media screen and (max-width:500px) {
          align-items: center;
          margin-top: 50px;
          height: auto;
        }
        h5 {
          font-size: 15px;
          @media screen and (max-width:500px) {
            font-size: 13px;
          }
        }
        .gradeold {
          position: relative;
          width: fit-content;
            padding-left: 10px;
        i {
          position: absolute;
          cursor: pointer;
          transition: 0.5s ease;
          font-size: 12px;
          align-self: flex-start;
          &:hover {
            transform: scale(1.4);
          }
        }
        }
        .niveau {
            padding-left: 20px;
            display: flex;
            gap: 10px;
            max-height: 20px;
            
            .niveau-jauge {
              width: 200px; /* Largeur de la jauge */
              height: 20px; /* Hauteur de la jauge */
              background-color: $grey-3; /* Couleur de fond de la jauge */
              border-radius: 30px;
              overflow: hidden; /* Pour masquer la partie remplie qui dépasse */
              position: relative; /* Pour que la partie remplie soit positionnée correctement */
              @media screen and (max-width:500px) {
                height: 18px;
              }
              @media screen and (max-width:350px) {
                width: 130px;
              }
            }
            
            .niveau-jauge-fill {
              height: 100%;
              background-color: #00ff00; /* Couleur de la partie remplie */
              transition: width 0.5s ease; /* Animation de la largeur */
            }
        }
        .membredepuis {
            padding-left: 10px;
        }
    }
  }
  .utility-bar {
    margin-top: 66px;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    @media screen and (max-width: 680px) {
      flex-direction: column;
      gap: 10px;
    }
    @media screen and (max-width:500px) {
      margin-top: 20px;
    }
    .search-friends {
      width: 50%;
      height: 30px;
      @media screen and (max-width: 730px) {
        width: 160px;
      }
      @media screen and (max-width:680px) {
        width: 45%;
      }
      .search-friends-container {
        width: 100%;
        height: 100%;
        position: relative;
        input {
          position: absolute;
          width: 100%;
          height: 80%;
          padding-left: 35px;
          border-radius: 30px;
          border: none;
          background-color: $grey-2;
          left: 0;
          bottom: 50%;
          transform: translateY(50%);
          @media screen and (max-width:635px) {
            font-size: 12px;
          }
        }
        i {
          position: absolute;
          left: 10px;
          bottom: 50%;
          transform: translateY(50%);
          z-index: 10;
          font-size: 16px;
        }
        .search-friends-list {
            z-index: 1000;
          width: 100%;
          height: fit-content;
          position: absolute;
          border-radius: 3px;
          left: 10px;
          top: 40px;
          background-color: $white;
          box-shadow: 0px 2px 5px 0px rgb(176, 176, 176);
          .friend {
            width: 100%;
            height: 70px;
            padding-left: 10px;
            padding-top: 3px;
            padding-bottom: 3px;
            border-top: 2px solid $red;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            &:hover {
              background-color: #ffebe9;
            }
            img {
              height: 90%;
            }
            #frienduserpseudo {
              align-self: flex-start;
              padding-left: 5px;
            }
            .gradeold {
              position: absolute;
              font-size: 12px;
              bottom: 0;
              left: calc(50% + 25px);
              transform: translateX(-50%);
            }
            .level {
              position: absolute;
              right: 10px;
              top: 3px;
              p {
                font-size: 14px;
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }
  #compareBtn {
    margin-left: 30px;
    padding: 5px 20px;
    border-radius: 30px;
    border: none;
    background-color: $red;
    color: $white;
    @media screen and (max-width: 680px) {
      margin-left: 0px;
      padding: 5px 10px;
      font-size: 11px;
      margin-top: 5px;
      }
    cursor: pointer;
    transition: 0.6s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

#scheds {
  margin-top: 0;
}
