$bradius: 20px;
$padding: 18px;
.compte {
  padding-top: 50px;
  height: 100vh;
  a,h3,p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
  h3 {
    font-size: 21px;
    font-weight: 400;
  }
  .logout {
    padding-left: $padding;
    margin: 150px auto;
    line-height: 50px;
    width: 97%;
    color: $red;
    text-align: center;
    border-top: 1px solid $grey-compte;
    border-bottom: 1px solid $grey-compte;
    font-size: 22px;
    @media screen and (max-width: 500px) {
      margin: 60px auto;
  }
    &:hover {
      background-color: $red-remove;
      width: 100%;
      cursor: pointer;
    }
  }
  .islogout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: 999;
    animation: fadeIn 0.5s ease forwards;
    .islogout-container {
      position: absolute;
      top: calc(50% - 50px);
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
      text-align: center;
      border-radius: $bradius;
      .islogout-header {
        padding: 15px 20px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif;
        h4 {
          font-size: 18px;
          margin-bottom: 10px;
        }
        p {
          margin-bottom: 20px;
          text-align: center;
        }
      }
      .islogout-content {
        display: flex;
        justify-content: center;
        button {
          width: 100%;
          line-height: 40px;
          cursor: pointer;
          background-color: $white;
        }
        button:nth-child(1) {
          border-bottom: none;
          border-left: none;
          border-right: 1px solid $grey-2;
          border-top: 1px solid $grey-2;
          border-bottom-left-radius: $bradius;
          font-size: 18px;
          &:hover {
            background-color: $grey-3;
          }
        }
        button:nth-child(2) {
          border-bottom: none;
          border-right: none;
          border-left: none;
          border-top: 1px solid $grey-2;
          border-bottom-right-radius: $bradius;
          color: $red;
          font-size: 18px;
          &:hover {
            background-color: $red-remove;
            color: $white;
          }
        }
      }
    }
  }
}

.compte-info {
  padding-top: $padding;
  padding-left: $padding;

}

.themes {
  padding-top: $padding;
  padding-left: $padding;
}

.like-yondes-app {
  padding-top: $padding;
  padding-left: $padding;
}

.copy {
  padding-top: $padding;
  padding-left: $padding;
  padding-right: $padding;
  padding-bottom: $padding;
  p {
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    @media screen and (max-width: 500px) {
      line-height: 20px;
      font-size: 17px;
      text-align: center;
  }
  }
  i {
    transition: 0.5s ease;
    &:hover {
      transform: scale(1.25);
    }
  }
}

.row2 {
  height: 70px;
  width: 97%;
  border-bottom: 1px solid rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  &:hover {
    cursor: pointer;
  }
  p {
    font-size: 14px;
    font-weight: 200;
    font-weight: 400;
  }
  i {
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    font-size: 14px;
    padding: 0;
    left: auto;
  }
}

h5 {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
}
.row {
  height: 50px;
  width: 97%;
  border-bottom: 1px solid rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: $grey-3;
    width: 100%;
  }
  p {
    font-size: 16px;
    font-weight: 400;
  }
}
.acc-created {
  margin-top: 10px;
  font-size: 13px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
