.navigation-menu {
    position: fixed;
    top: 0;
    width: 220px;
    height: 100vh;
    border-right: 0.5px solid rgb(228, 225, 225);
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width:965px) {
        width: 60px;
    }
    @media screen and (max-width: 500px) {
        flex-direction: row;
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        height: 60px;
        width: 100vw;
        z-index: 1000;
        background-color: $white;
        padding-right: 30px;
    }
    h4 {
        font-size: 18px;
        margin-left: 15px;
        font-family: 'Roboto', 'Courier New', Courier, monospace;
        @media screen and (max-width:965px) {
            display: none;
        }
    }
    h2 {
        color: $red;
        font-size: 22px;
        @media screen and (max-width:965px) {
            display: none;
        }
    }
    #lilogo {
        padding: 5px;
        background-color: white;
        @media screen and (max-width: 500px) {
            display: none;
        }
        h2 {
            margin-left: 5px;
        }
    }
    .navigation-up {
        @media screen and (max-width: 500px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }
        .nav-active {
            li {
                background-color:$grey-2;
                border-radius: 30px;
            }
            
            h4 {
                color: $red;
                font-size: 18px;
            }
        }
        a {
            @media screen and (max-width: 500px) {
                width: 25%;
                
            }
            li {
                display: flex;
                align-items: center;
                margin: 10px 0px;
                padding: 10px 10px;
                border-radius: 30px;
                @media screen and (max-width: 965px) {
                    padding: 10px 6px;
                }
                @media screen and (max-width: 500px) {
                    padding:0;
                    margin: 5px 0px;
                    width: 25%;
                }
                &:hover {
                    background-color: $grey-2;
                }
                .logo {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%; 
                }
                img {
                    width: 26px;
                    height: 26px;
                    @media screen and (max-width: 500px) {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
    .login {
        @media screen and (max-width: 500px) {
            width: 25%;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 10px;
            border-radius: 30px;
            @media screen and (max-width: 500px) {
                padding: 0 0;
                margin: 3px 0;
                width: 25%;
            }
            img {
                width: 26px;
                height: 26px;
            }
            &:hover {
                background-color: $grey-2;
            }
        }
        .nav-active {
            
            background-color:$grey-2;
             border-radius: 30px;
            
            h4 {
                color: $red;
            }
        }
    }
}


