.search {
  form {
    .ul-btn-options {
      height: 30px;
      width: 30%;
      display: flex;
      background-color: $grey-3;
      margin-left: 15px;
      margin-right: 15px;
      @media screen and (max-width:480px) {
        width: 45%;
      }
      .btn-options {
        display: flex;
        width: 100%;
        height: 100%;
        li {
          width: 50%;
          height: 100%;
          border-radius: 330px;
          button {
            height: 100%;
            width: 100%;
            border: none;
            background-color: $grey-3;
            color: $red;
            @media screen and (max-width:480px) {
              font-size: 11px;
            }
          }
          .activeBtn {
            background: $red;
            color: white;
            &:hover {
              cursor: pointer;
            }
          }
          .not-activeBtn {
            color: $red;
            &:hover {
              cursor: pointer;
              background-color: #d7d6d6;
              border-radius: 30px;
            }
          }
        }
      }
    }
    .search-list {
      .animelist {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        li {
          height: 40px;
          width: 100%;
          padding-left: 18px;
          @media screen and (max-width:550px) {
            padding-left: 10px;
          }
          @media screen and (max-width:450px) {
            padding-left: 5px;
          }
          &:hover {
            background-color: #d7d6d6;
          }
          button {
            height: 100%;
            width: 100%;
            background-color: white;
            border: none;
            border-bottom: 0.5px solid rgb(219, 219, 219);
            text-align: left;
            font-size: 17px;
            color: rgb(28, 28, 30);
            @media screen and (max-width:550px) {
              font-size: 15px;
            }
            @media screen and (max-width:450px) {
              font-size: 14px;
            }
            &:hover {
              cursor: pointer;
              background-color: #d7d6d6;
            }
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

.searchinput {
  display: flex;
  align-items: center;
  position: relative;
  width: 70%;
  @media screen and (max-width:480px) {
    width: 55%;
  }
  i {
    position: absolute;
    color: rgb(160, 158, 158);
    background-color: rgb(224, 224, 224);
    font-size: 16px;
    left: 3px;
    padding-left: 5px;
  }
  input {
    padding-left: 38px;
    border-radius: 30px;
    height: 30px;
    width: 100%;
    border: none;
    background-color: rgb(224, 224, 224);
    outline: none;
  }
}

.slc {
  .connexion {
    #retour {
      position: relative;
      width: 150px;
      height: 30px;
      border: none;
      background-color: $red;
      color: white;
      border-radius: 30px;
      font-size: 14px;
      i {
        position: absolute;
        left: 10px;
        bottom: 0px;
        transform: translateY(-50%);
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .search-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding-left: 18px;
    padding-bottom: 20px;
    margin-top: 60px;
    .new-manga {
      cursor: pointer;
      img {
        width: 220px;
        height: 330px;
      }
    }
  }
}

.new-manga {
  .manga-title-p {
    margin-bottom: 5px;
  }
}

.searchinputs {
  display: flex;
  width: 50%;
  gap: 10px;
  @media screen and (max-width:680px) {
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .searchinput {
    display: flex;
    align-items: center;
    position: relative;
    width: 45%;
    @media screen and (max-width:680px) {
      width: 45%;
    }
    i {
      position: absolute;
      color: rgb(160, 158, 158);
      background-color: rgb(224, 224, 224);
      font-size: 16px;
      left: 3px;
      padding-left: 5px;
    }
    input {
      padding-left: 25px;
      border-radius: 30px;
      height: 30px;
      width: 100%;
      border: none;
      background-color: rgb(224, 224, 224);
      @media screen and (max-width:635px) {
        font-size: 12px;
      }
    }
  }
}
