$red: #cf000a;
$black: black;
$grey: #969696;
$grey-2: #ededed;
$grey-3: #ebebeb;
$red-motif: #e5757b;
$green: rgb(6, 126, 6);
$grey-compte: rgb(211, 211, 211);
$red-remove: rgb(250, 82, 82);
$white: white;

@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../../public/fonts/Roboto/Roboto-Regular.ttf");
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "Courier New", Courier, monospace;
}

.popularity-jauge {
  width: 95%;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.fill-jauge {
  height: 100%;
  border: transparent;
  border-radius: 10px;
  background-color: #0ade0a;
  transition: width 0.5s ease-in-out; /* Animation de transition */
}

a,
a:visited {
  text-decoration: none;
  outline: none;
  color: black;
}

a {
  button {
    border-radius: 30px;
    padding: 12px 40px;
    width: 100%;
    border: none;
    background-color: $red;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
}

.connexion {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  padding-left: 18px;
  border-bottom: 0.5px solid rgb(219, 219, 219);
  background-color: white;
  z-index: 110;
  display: flex;
  align-items: center;
  align-self: start;
  font-size: 18px;
  .search-friends {
    height: 210px;
    width: 240px;
    .search-friends-container {
      width: 100%;
      input {
        width: 240px;
        border: 1px solid black;
      }
      .search-friends-list {
        border: 1px solid rgb(160, 157, 157);
      }
    }
  }
}
.schedule-day-list {
  padding: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  .new-manga {
    img {
      width: 220px;
      height: 330px;
    }
    .manga-title-p {
      display: flex;
      flex-direction: column;

      h4 {
        font-size: 17px;
        line-height: 20px;
        font-weight: 200;
      }
    }
  }
}

#connexionid {
  position: static;
}
#connexionid2 {
  position: static;
}

#connexionid3 {
  width: calc(100% - 220px);
}
